---
import Basic from "../../layouts/Basic.astro";

---

<Basic title="Laura Lopez">
	<h1>Hola</h1>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio vero
		blanditiis sapiente corrupti tenetur asperiores illum. Quidem quasi tempore,
		deleniti nisi totam maxime fugiat molestias autem distinctio, corrupti dolor
		fugit?
	</p>
</Basic>
