---
import Basic from "@layouts/Basic.astro";
import Home from "@components/Home";
import LanguageSelector from "@components/LanguageSelector";
import translation from "@translation/fr.json";
import "../../styles/global.css";
---
<Basic title="Laura Lopez" translation={translation}>
	<div slot="selector">
		<LanguageSelector/>
	</div>
	<Home translation={translation} />
</Basic>