---
import { getCollection } from "astro:content";
import Basic from "../../layouts/Basic.astro";

const projects = await getCollection('projects');
---

<Basic title="Laura Lopez">
  <section class="font-bold">
    <div class="mx-auto max-w-screen-xl py-8 sm:py-12 lg:px-8">
      <header>
        <h2 class="font-bold text-gray-900 text-3xl py-4">Projects</h2>
      </header>
      <ul  class="grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
        {
          projects.map((project)=>(
          <li data-aos="fade-up">
            <div class="pt-3 md:flex md:flex-col justify-between md:h-[400px] overflow-hidden">
              <div>
                <h3 class="text-lg text-gray-700">
                {project.data.title}
              </h3>
              <p class="my-2 text-sm text-[#22668D]">Technologies utilisées: <span class="font-light">{project.data.description}</span>
              </p>
              <p class="text-sm font-light">{project.body}</p>
              </div>
              <img
              src={project.data.heroImage}
              alt=""
              class="object-cover h-[150px] w-full sm:h-[250px]"
            />
            </div>

        </li>
          ))
        }
      </ul>
    </div>
  </section>
</Basic>
