@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
  margin: 30px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  background-color: #e1e3e3b0;
}
[data-aos] {
  opacity: 1 !important;
}

.hexagono {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}