---
import Basic from "@layouts/Basic.astro"
---
<style>
  h4 {
    font-weight: 500;
    font-size: 1.25rem;
  }
  div > div {
    margin: 1.27rem 0;
    font-size: 0.87rem;
  }
</style>
<Basic title="Laura Lopez">
  <section data-aos="fade-up">
    <h2 class="text-2xl font-bold my-6 ">Curriculum</h2>
    <a href="/portfolio-laura/assets/Laura_lopez.pdf" download="CV_LauraLopez.pdf" class="btn-download flex gap-3 mb-5 font-semibold text-[#22668D] hover:text-[#FFCC70]">
      Dowload PDF
      <svg class="size-[20px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 242.7-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7 288 32zM64 352c-35.3 0-64 28.7-64 64l0 32c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-32c0-35.3-28.7-64-64-64l-101.5 0-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352 64 352zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></svg>
    </a>
    <article data-aos="fade-up" class="md:m-4 md:flex md:flex-row justify-start items-baseline">
      <h3 class="text-xl underline underline-offset-2 md:w-1/5">Work Experience</h3>
      <div>
        <div>
        <h4 >Developer Front-end</h4>
        <h5>Freelancer</h5>
        <p class="mt-3">
          Web page maintenance and development using Javascript and frameworks such as React and Typescript.          
          <br> Page creation and reactive design using HTML, CSS, Bootstrap, and Tailwind.
        </p>
        </div>
        <div>
        <h4 >Developer Web Junior</h4>
        <h5>Mola</h5>
        <p class="mt-3">Website development and maintenance using HTML, CSS, JavaScript, and frameworks like Bootstrap.
          <br>API integration to improve website functionality.
          <br>Website optimization to improve performance and user experience.        
        </p>
        </div>
        <div>
          <h4>Human Rights Observatory Assistant, UGC</h4>
          <h5>La Gran Colombia University / Historical Memory Center (Bogota, Colombia)</h5>
          <p class="mt-3">
          Analyze and evaluate the relevance of various research projects in the field of land restitution for the internal migrant population.
          <br>Design training and guidance content for the affected population.
          <br>Lead training and support events.
          </p>
        </div>
      </div>
    </article>
    <article data-aos="fade-up" class="md:m-4 md:flex md:flex-row justify-start items-baseline">
      <h3 class="text-xl underline underline-offset-2 md:w-1/5 my-3">Certificates</h3>
      <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <li>Javascript and React - Udemy</li>
        <li>React with NextJS - Platzi</li>
        <li>Astro-Platzi</li>
        <li>Tailwind and React - Platzi</li>
        <li>Typescript - Platzi</li>
        <li>JavaScript Object Oriented Programming - Platzi</li>
        <li>CSS Animation - Platzi</li>
        <li>HTML and advanced CSS - Platzi</li>
        <li>JavaScript DOM Manipulation - Platzi</li>
        <li>Logic: Control functions and structures - Platzi</li>
        <li>Logic: Algorithms and flowcharts - Platzi</li>
        <li>UI and UX interface design - Platzi</li>
        <li>Shopify - Platzi</li>
        <li>Content Marketing - Platzi</li>
      </ul>
    </article>  
    <article data-aos="fade-up" class="md:m-4 md:flex md:flex-row justify-start items-baseline">
      <h3 class="text-xl underline underline-offset-2 md:w-1/5 my-3">Formation</h3>
      <div>
        <div>
          <h4>DEC in Computer Science</h4>
          <h5>Cégep de Lévis (1 year)</h5>
          </div>
          <div>
          <h4>Diploma in Extrajudicial Conciliation in Law</h4>
          <h5>La Gran Colombia University (2020)</h5>
          </div>
          <div>
          <h4>Degree in Law</h4>
          <h5>La Gran Colombia University (2020)</h5>
          </div>
      </div>
    </article>
  </section>
</Basic>