---
import Basic from "@layouts/Basic.astro"
---
<style>
  h4 {
    font-weight: 500;
    font-size: 1.25rem;
  }
  div > div {
    margin: 1.27rem 0;
    font-size: 0.87rem;
  }
</style>
<Basic title="Laura Lopez">
  <section>
    <h2 class="text-2xl font-bold my-6 ">Curriculum</h2>
    <a href="./assets/Laura_lopez.pdf" download="CV_LauraLopez.pdf" class="btn-download flex gap-3 mb-5 font-semibold text-[#22668D] hover:text-[#FFCC70]">
      Descargar PDF
      <svg class="size-[20px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 242.7-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7 288 32zM64 352c-35.3 0-64 28.7-64 64l0 32c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-32c0-35.3-28.7-64-64-64l-101.5 0-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352 64 352zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></svg>
    </a>
    <article class="md:m-4 md:flex md:flex-row justify-start items-baseline">
      <h3 class="text-xl underline underline-offset-2 md:w-1/5">Expérience laboral</h3>
      <div>
        <div>
        <h4 >Développeur front-end</h4>
        <h5>Indépendant</h5>
        <p class="mt-3">Maintenance et développement de pages web à l'aide de Javascript et de frameworks tels que React et Typescript.<br>
Mise en page et conception réactive à l'aide de HTML, CSS, Bootstrap et tailwind.</p>
        </div>
        <div>
        <h4 >Développeur web junior</h4>
        <h5>Mola</h5>
        <p class="mt-3">Développement et maintenance de sites Web en utilisant HTML, CSS, JavaScript et frameworks comme Bootstrap.<br>
        Intégration d'API tierces pour améliorer la fonctionnalité des sites Web.<br>
Optimisation des sites Web pour améliorer les performances et l'expérience utilisateur.
        </p>
        </div>
        <div>
        <h4 >Assistante observatoire des droits de l'homme</h4>
        <h5>Université la Gran Colombia / Centre de mémoires historique (Bogota - Colombie)</h5>
        <p class="mt-3">Analyser et évaluer la pertinence des différentes recherches dans le domaine de la restitution des terres à la population migrante interne.<br>
-Concevoir des contenus de formation et d'orientation pour la population touchee.<br>
-Animer les événements de formation et accompagnement.
        </p>
        </div>
      </div>
    </article>

    <article class="md:m-4 md:flex md:flex-row justify-start items-baseline">
      <h3 class="text-xl underline underline-offset-2 md:w-1/5 my-3">Certificats</h3>
      <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <li>Javascript et React - Udemy</li>
        <li>React avec Next - Platzi</li>
        <li>Astro- Platzi</li>
        <li>Tailwind et React - Platzi</li>
        <li>Typescript - Platzi</li>
        <li>JavaScript programmation Orientée Objet - Platzi</li>
        <li>Animation CSS - Platzi</li>
        <li>HTML et CSS avancé - Platzi</li>
        <li>Manipulation DOM JavaScript - Platzi</li>
        <li>Logique: les fonctions et les structures de contrôl - Platzi</li>
        <li>Logique: Algorithmes et diagrammes de flux - Platzi</li>
        <li>Design interface UI et UX - Platzi</li>
        <li>Shopify - Platzi</li>
        <li>Content Marketing - Platzi</li>
      </ul>
    </article>  
    <article class="md:m-4 md:flex md:flex-row justify-start items-baseline">
      <h3 class="text-xl underline underline-offset-2 md:w-1/5 my-3">Formation</h3>
      <div>
        <div>
          <h4>DEC en informatique</h4>
          <h5>Cégep de Lévis (1 an)</h5>
        </div>
        <div>
          <h4>Diplôme en conciliation extrajudiciaire en droit</h4>
          <h5>Université La Gran Colombia (2020)</h5>
        </div>
        <div>
          <h4>Baccalauréat en droit</h4>
          <h5>Université La Gran Colombia (2020)</h5>
       </div>
      </div>
    </article>

  </section>

</Basic>