---
import Basic from "@layouts/Basic.astro"
import  Hexagono from "@components/Hexagono";
import "../styles/global.css";
---
<Basic title="Laura Lopez">
	<section class="md:flex md:flex-row-reverse md:gap-10 items-center justify-baseline md:m-10">
		<article class="md:w-[60%]">
			<div class="md:p-4">
				<h1 class="mt-10 text-4xl font-bold md:text-8xl">Hello</h1>
				<p class="my-3 text-sm/7 md:text-lg/7 ">
					
				Je suis développeuse web depuis 2021, spécialisée en JavaScript, HTML, CSS,React, Astro, Bootstrap, Tailwind et gestion de bases de données avec MySQL. Après un BAC en droit et des études en marketing digital, j'ai trouvé ma voie dans les technologies. Aujourd'hui, je travaille en tant que développeuse et suis passionnée par l'innovation et la création de solutions web.
				</p>
			</div>
			<div class="flex flex-row justify-around my-5 items-center">
				<Hexagono ruta="/curriculum" text="Curriculum" color="#FFCC70"/>
				<Hexagono ruta="/project" text="Projects" color="#FFFADD"/>
				<Hexagono ruta="/contact" text="Contact" color="#8ECDDD"/>
			</div>
		</article>
		<article class="mb-10">
			<div class="flex justify-center items-center mb-2 p-[2px 40px] rounded-full overflow-hidden bg-white w-[200px] h-[200px] md:w-[400px] md:h-[400px] m-auto shadow-lg">
				<img class=" translate-[20px] scale-110 md:scale-150 md:translate-[50px]" src="/assets/memoji.png" alt="Memoji de Laur Lopez">
			</div>
		</article>
	</section>
</Basic>