---
import Header from "../components/Header"
import Footer from "../components/Footer"
import "../styles/global.css"

const {title} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Laura Lopez" />
    <meta name="description" content="I am Laura, web developer with experience techonologies JavaScript, React, HTML and CSS." />
    <meta name="keywords" content="web developer, portfolio, React, JavaScript, HTML, CSS, curriculum, frontend" />
    <title>{title}</title>
    <link rel="icon" href="/assets/memoji.png" type="image/png">
  </head>
  <body>
    <Header title = {title}  client:visible/>
    <main>
      <slot />
    </main>
    <Footer phone = "581-980-93-58" email = "lauralop_11@hotmail.com" />
  </body>
</html>